* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 100%); /* White */
  color: hsl(300, 43%, 22%); /* Very Dark Magenta */
  font-family: "Spartan";
}

h1 {
  font-weight: 700;
}

.name,
.heading {
  font-weight: 500;
  color: hsl(0, 0%, 100%); /* White */
}

.text {
  font-weight: 400;
  color: hsl(333, 80%, 67%); /* Soft Pink */
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.overview {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.ratings {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
}

.customers {
  grid-column: 1 / 2;
  grid-row: 2 / 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.pic {
  border-radius: 50%;
}

.colton,
.irene,
.anne {
  background-color: hsl(300, 43%, 22%); /* Dark Grayish Magenta */
  color:hsl(0, 0%, 100%); /* White */

}

.colton {
  
}

.irene {

}

.anne {

}


.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
