* {
}

body {
  background-color: hsl(0, 0%, 100%); /* White */
  color: hsl(300, 43%, 22%); /* Very Dark Magenta */
  font-family: "Spartan";
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
